language: c

env:
  - HAXE_VER=development

matrix:
  fast_finish: true

before_install:
  - travis_retry git clone --depth=50 --branch=master git://github.com/waneck/travis-hx.git ~/travis-hx

install:
  - ~/travis-hx/setup.sh

script:
  - cd $TRAVIS_BUILD_DIR
  - haxelib git hxparse https://github.com/Simn/hxparse
  - haxelib git hxargs https://github.com/Simn/hxargs
  - haxe build.hxml
  - git clone https://github.com/borisyankov/DefinitelyTyped
  - neko run.n --recursive DefinitelyTyped
  # - haxe test.hxml
